.aquarium-form {
  padding: 3rem 0 4rem;
}

.section-heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

@media (min-width: 40rem) {
}

@media (min-width: 48rem) {
}

@media (min-width: 64rem) {
}

@media (min-width: 80rem) {
}

@media (min-width: 96rem) {
}
