:root {
  --container-normal: 1100px;
}

.aquarium-form {
  padding: 3rem 0 4rem;
}

.aquarium-form-flex {
  display: flex;
  flex-direction: column;
  max-width: var(--container-normal);
  margin: 0 auto;
  gap: 1rem;
  align-items: center;
}

.aquarium-form label {
  font-size: 1.5rem;
  text-align: center;
}

.aquarium-form input {
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #333;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 80vw;
  flex: 1 1 0;
}

.aquarium-form button {
  border: 1px solid #333;
  background: none;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 80vw;
  flex: 0.5 1 0%;
}

.aquarium-form button:hover {
  background: #333;
  color: #f3f3f3;
}

@media (min-width: 40rem) {
}

@media (min-width: 48rem) {
  .aquarium-form-flex {
    flex-direction: row;
  }
}

@media (min-width: 64rem) {
}

@media (min-width: 80rem) {
}

@media (min-width: 96rem) {
}
